<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mojodigi.filehunt">

    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <protected-broadcast android:name="android.intent.action.MEDIA_MOUNTED" />

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name=".Application.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".WebActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivityTheme" />

        <activity
            android:name=".Category_Explore_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PhotosActivityRe"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VideoActivityRe"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AudioActivityRe"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DocsActivityRe"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AnimationActivityRe"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ApkActivityRe"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DownloadActivityRe"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RecentActivityRe"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ZipActivityRe"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Stotrage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Media_VdoActivity"
            android:configChanges="screenLayout|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Media_AdoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Media_ImgActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Media_InfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LockerPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LockerActivityMain"
            android:screenOrientation="portrait" />
        <activity
            android:name=".List_Hidden_Files_Activity"
            android:screenOrientation="portrait" />
           <activity android:name=".junkCleanModule.JunkCleanActivity" android:screenOrientation="portrait">
           </activity>

        <activity android:name=".junkCleanModule.Actitivcity_Boost_Phone" android:screenOrientation="portrait">

        </activity>

        <!-- newely  added for google adds -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5603925957932903~3576315291" /> <!-- test app ids added -->
        <!-- newly  added for google adds -->
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" /> <!-- for crashlytics -->
        <!-- for facebook adds -->
        <activity
            android:name="com.facebook.ads.AudienceNetworkActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" /> <!-- to  show  interesitial adds uisng smaato -->
        <activity
            android:name="com.smaato.soma.interstitial.InterstitialActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:resizeableActivity="false" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="@string/file_provider_authority"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />
        <service
            android:name=".firebase.MyFirebaseMessagingService"
            android:enabled="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_fcm_icon" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/color_icon" />
    </application>

</manifest>